<%= form_with(model: tipo_de_pago) do |form| %>
  <% if tipo_de_pago.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_de_pago.errors.count, "error") %> prohibited this tipo_de_pago from being saved:</h2>

      <ul>
        <% tipo_de_pago.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :metodo, style: "display: block" %>
    <%= form.text_field :metodo %>
  </div>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
