<% if tiket.file.attached? %>
    <div class="row">
        <% if tiket.file.image? %>
            <div class="message_image-container">
                <%= image_tag(tiket.file, class:"message-image") %>
            </div>
        
    <% elsif tiket.file.video?%>
        <%= video_tag(url_for(tiket.file), class:"message-video", controls: "") %>
        <% elsif tiket.file.audio?%>
        <%= audio_tag(url_for(tiket.file), class:"message-audio", controls: "") %>
        <% else %>
        <%= link_to tiket.file.filename,url_for(tiket.file), class:"message-file" %>

    <% end %>
    </div>
<% end %>
    