<%= form_with(model: tiket) do |form| %>
  <% if tiket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tiket.errors.count, "error") %> prohibited this tiket from being saved:</h2>

      <ul>
        <% tiket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

    <div>
    <%= form.label :monto, style: "display: block" %>
    <%= form.text_field :monto %>
  </div>

  <div>
    <%= form.label :Tarjeta_o_Efectivo, style: "display: block" %>
    
    
    <%= form.collection_select :tipo_de_pago_id, TipoDePago.all, :id, :metodo, include_blank: "Selecciona el metodo de pago" %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
