<div id="<%= dom_id tiket %>">
  <p>
    <strong>Fecha:</strong>
    <%= tiket.fecha %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= humanized_money_with_symbol tiket.monto %>
  </p>

  <p>
    <strong>Tarjeta o Efectivo:</strong>
    <% if tiket.tipo_de_pago %>
      
    <%= tiket.tipo_de_pago.metodo.upcase %>
      <% end %>
      
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tiket.descripcion %>
  </p>
  <p>
    <%= render 'tikets/attachment', tiket: tiket %>
  </p>

</div>
