<p style="color: green"><%= notice %></p>

<h1></h1>

<%= link_to "Nuevo tiket", new_tiket_path %>

<div id="tikets">
  <% @tikets.each do |tiket| %>
    <%= render tiket %>
    <p>
      <%= link_to "Mostrar tiket", tiket %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo tiket", new_tiket_path %>
