<p style="color: green"><%= notice %></p>

<%= render @tiket %>

<div>
  <%= link_to "Editar tiket", edit_tiket_path(@tiket) %> |
  <%= link_to "Regresar a tikets", tikets_path %>

  <%= button_to "Destruir tiket", @tiket, method: :delete %>
</div>
