<!DOCTYPE html>
<html>
  <head>
    <title>VerGasto</title>

    

    


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all","data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <%= image_tag("vergastologch.png", alt: "logo", class: "logdob") %>


  <body>
    <%= yield %>
  </body>

  <h6>Ver Gasto &#169; 2024 by unknownshoppers.com</h6>
</html>
